# Flutter
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
android/.gradle/
android/app/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Other
*.iml
*.ipr
*.iws
*.log
*.lock
*.tmp
*.temp
*.DS_Store

# Windows/Linux user paths
*.apk
*.ipa
*.keystore
AppData/
.android/
