# Flutter & Dart
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# IDE
.vscode/
.idea/

# System
.DS_Store
*.log
*.tmp
*.lock
*.p12
*.mobileprovision
